@charset "UTF-8";
@font-face {
    font-family: 'BAD-GRUNGE';
    src: url(./fontes/BAD\ GRUNGE.ttf) format('opentype');
    font-weight: normal;
}
:root {
    --cor0: #454545;
    --cor1: #343434;
    --cor2: #232323;
    --cor3: #111111;
    --cor4: #000000;
    --font1: 'BAD-GRUNGE';
    --font2: 'Sriracha', cursive;
    --font3: Arial, Helvetica, sans-serif;
}
* { 
    margin: 0;
    padding: 0px;
}
html, body {
    min-height: 100vh;
    background-color: var(--cor0);
    font-family: var(--font3);
}
header {
    min-height: 200px;
    text-align: center;
    padding-top: 20px;
    background-image: url(imagens/header.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
main {
    min-width: 400px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.466);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white; 
}
main h2 {
    font-family: var(--font1);
    color: var(--cor2);
    font-weight: normal;
    font-size: 2em;
}
main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
p > a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
}
p > a:hover {
    text-decoration: underline;
    color: var(--cor0)
}
div.video {
    background-color: var(--cor3);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}
div.video > iframe {
       position: absolute;
       top: 5%;
       left: 5%;
       width: 90%;
       height: 90%;
}
aside {
    background-color: #a7a3a3;
    padding: 10px;
    border-radius: 10px;
}
aside > h2 {
    background-color: var(--cor3);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.266);
}
ul {
    list-style-type:'\0020\0020\0020';
    columns: 2;
    list-style-position: inside;
}
footer {
    background-image: url(./imagens/baixo.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: white;
    text-align: center;
    padding: 15px;
    font-family: var(--font3);
    font-size: 1.3em;
}
footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    color: var(--cor2);
}